.effect-outer{
  background-color: #f2f2f2;
}

.effect__image{
  flex-basis: 300px;
  margin-right: 35px;
}

.effect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 42px 0 70px;
}

.effect__text{
  margin-left: 35px;
  flex-basis: 550px;
  margin-right: 25px;
}

.effect__title{
  display: inline-block;
  padding-top: 45px;
  font-size: 30px;
  font-weight: bold;
}

.effect__description{
  padding-top: 22px;
}

.effect__link {
  display: inline-block;
  margin-top: 30px;
  color: $accent;
  transition: color .5s ease-in;
  &:hover{
    color: #283645;
    text-decoration: none;
  }
}
