@media only screen and (max-width : 768px){
  .features{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .features__head{
    flex-basis: 100%;
    font-size: 40px;
    margin: 45px auto 52px;
  }
  .features__image{
    display: none;
    &:last-child{
      display: inline-block;
      img{
        width: 270px;
        margin-bottom: 0;
      }
      &::after{
        background: none;
      }

    }
    &:before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 75px;
      background-color: #f2f2f2;
    }
  }
  .features-list{
    flex-wrap: wrap;
    flex-basis: 310px;
    margin-top: -70px;
    text-align: center;
    .features__item{
      display: inline-block;
      padding-top: 30px;
    }
    .features__title{
      text-align: left;
      padding: 0;
      font-size: 18px;
    }
  }
  .features__text{
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    padding: 15px 0 10px;
  }
  @media (min-resolution: 1.5dppx),(min-resolution: 144dpi){
    /**/
  }
}
@media only screen and (max-width : 480px){
  .features__head{
    flex-basis: 100%;
    font-size: 24px;
    order: 1;
    br{
      display: none;
    }
    span{
      display: inline-block;
      margin-top: 25px;
    }
  }
  .features__images{
    flex-basis: 100%;
    order: 3;
    .features__image:last-child{
      display: block;
      margin-top: 30px;
      img{
        margin-bottom: 0;
        width: 160px;
      }
      &:before{
        height: 60px;
      }
    }
  }
  .features-list{
    flex-basis: 100%;
    order: 2;
    padding-top: 110px;
    .features__item{
      text-align: center;
      padding-top: 25px;
      .features__title{
        text-align: center;
      }
    }
  }
  .features__text{
    text-align: center;
    padding-top: 15px;
  }
  @media (min-resolution: 1.5dppx),(min-resolution: 144dpi){
    /**/
  }
}